
<button (click)="blueClass = !blueClass" 
    [ngClass]="{ blue: blueClass }"
    [ngStyle]="{'font-size.px': fontSize }">
    Change Background Color
</button>

<hr>

<input (keyup)="changeImage($event)" [value]="imgURL">

<app-post [postImg]="imgURL" (imgSelected)="logImg($event)">
    <h1>Images from picsum</h1>
</app-post>

<!-- <p>Hello {{ name.toUpperCase() }}</p> -->
<p>Hello {{ getName() }}</p>

<p>Hello {{ name | titlecase }}</p>
<p>{{ currentDate | date: 'hh:mm:ss a - dd MMMM, YYYY' }}</p>
<p>{{ cost | currency: 'JPY' }}</p>
<p>{{ temperature | number }}</p>
<pre>{{ pizza | json }}</pre>